<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <H1>Welcome to Dow Jones Index DataBase!</H1>
    <ul>
        <li><a href="/djindex/upload">Upload Data</a></li>
        <li><a href="/djindex/list">Indices</a></li>
    </ul>
</div>
</body>
</html>